// pug :  https://naltatis.github.io/jade-syntax-docs/
// haml : https://haml.info/docs/yardoc/file.REFERENCE.html
// Slim : 
- var name = "몬스타엑스"
- var student = {no:1, name:"손현우", point:90}
- var arr = ["봄", "여름", "가을", "겨울"]
doctype html
html
    head
        title jade(pug)
    body
        h1 Hello Pug4 
        h2= name
        h3 #{student.no}
        h4 #{student.name}
        h5 #{student.point}
        ul
            for season in arr
                li= season
        select#sel
            each season, i in arr
                option(value=i) Season #{season}
        div.controls
            label(for="id")
            input(type="text", placeholder="아이디 입력")#id
        if name == "몬스타엑스"
            p Nice meet you
        else
            p Good bye
        